#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #98bafffb, #8795ff); 
}

body {
  width: 100%;
  height: 100%;
}
.main-container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 1fr;
  width: 100%;
}

.grid-column-heading {
  background-color: #919eff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.grid-column-normal {
  background-color: rgb(223, 226, 255);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.grid-column-heading-text {
  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 0, 0)
}

.grid-column-normal-text {
  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 0, 0)
}

.text-input {
  width: 300px;
  height: 30px;
  line-height: 20px;
}

.signout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.signout:hover {
  transition: all 300ms ease-in-out;
  color: rgb(228, 222, 241);
}

.google-signin-button {
  width: 300px;
  cursor: pointer;
}

.google-signin-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-student-overall-container {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(169, 176, 255);
  border: 3px solid rgb(43, 57, 206);
  border-radius: 5px;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 5px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.add-student-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-student-text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(300px, 40vw, 500px);
  gap: 15px;
}

.add-student-input-heading-text {
  font-size: 20px;
}

.new-student-input {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(177, 182, 235);
  font-size: 20px;
}

.new-student-input:focus {
  outline: none
}
.form-new-student {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.add-student-submit-button {
  border-radius: 3px;
  border: 1px solid rgb(177, 182, 235);
}

.add-student-button {
  border: 1px solid rgb(177, 182, 235);
}

.delete-button {
  background-color: rgb(144, 154, 255);
  border: 1px solid black;
}

.delete-button:hover {
  background-color: rgb(128, 139, 255);
  border: 1px solid black;
  transition: all 300ms ease-in-out;
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.delete-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.delete-modal-delete {
  background-color: #7568e6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-modal-delete:hover {
  background-color: #5d4fd9;
  transition: all 300ms ease-in-out;
}

.delete-modal-cancel {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-modal-cancel:hover {
  background-color: #b6b6b6;
  transition: all 300ms ease-in-out;
}

.login-form {
  width: clamp(200px, 50vw, 1000px);
  display: flex;
  flex-direction: column;
}

.login-input {
  height: 30px;
  border-radius: 3px;
  font-size: 25px;
}

.login-submit-button {
  font-size: 25px;
}


@media screen and (max-width: 800px) {
  .grid-column-heading-text {
    font-size: 15px;
  }
  .grid-column-normal-text {
    font-size: 13px;
  }
}